<style type="text/css">
  .custom {
    height: 25px;
    font-size: 10px;
    padding: 0px;
    padding-left: 20px;
  }

</style>

<div class="card animated fadeIn" style="margin-top:20px;">

  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reportes Varios</strong>
      <br />
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
    </header>
    <div class="tools">

    </div>
  </div>

  <div class="card-body">

      <pageslide ps-open="$ctrl.rptpanel" ps-size="1000px" > 
          <iframe src="{{$ctrl.url}}" width="1000px;" height="800px;" ps-zindex="9999"></iframe> 
      </pageslide> 

    <div class="col-md-4">
       
        <div class="row">
            <strong>Seleccione el tipo de servicio: </strong>
            <select class="form-control input-sm" id="selectServicioDigitalInternet" ng-model="$ctrl.ServicioDigitalInternet" ng-change="$ctrl.cambiaServicio($ctrl.ServicioDigitalInternet);"
              ng-options="v.Concepto for v in $ctrl.tipoServicios track by v.Clv_TipSer">
            </select>
          </div>
          <div class="row">
            <br>
              <strong>Seleccione el reporte: </strong>           
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()" value="DESCONECTADOS" ><span>Desconectados</span>
                     </label>
                  </div>
      
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="SUSPENDIDOS" ><span>Suspendidos</span>               
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="ALCORRIENTE" ><span>Al corriente</span>
                   </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="ADELANTADOS" ><span>Adelantados</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="CONTRAPRINC" ><span>Contrataciones principales</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="CONTRATACIONES" ><span>Contrataciones</span>
                        </label>
                  </div>
      
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="PORPAGAR" ><span>Por Pagar</span>
                        </label>
                  </div>
      
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="INSTALACIONES" ><span>Instalaciones</span>
                        </label>
                  </div>
      
              </div>
              <div class="col-md-6">
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="CANCELACIONES" ><span>Cancelaciones</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="PORINSTALAR" ><span>Por instalar</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="FUERAAREA" ><span>Fuera de area</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="PAQUETECORTESIA" ><span>Paquetes de cortesía</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="CIUDAD" ><span>Ciudad</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="RESCOLYSTATUS" ><span>Resumen por colonia y status</span>
                        </label>
                  </div>
      
              </div>

          </div>
        
        <div class="row">
          <br>
            <div class="col-md-12">
              <strong>Ordenar reporte por: </strong>
            </div>
            <div class="col-md-6">
              <div class="radio radio-styled radio-info">
                <label>
                  <input type="radio" ng-model="$ctrl.ordenRadio" value="1">
                  <span>Contrato</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="radio radio-styled radio-info">
                <label>
                  <input type="radio" ng-model="$ctrl.ordenRadio" value="2">
                  <span>Colonia y calle</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-4">
              <strong>Filtrar por:</strong>
            </div>
            <div class="col-md-8">
              <label class="checkbox-inline checkbox-styled">
                <input type="checkbox" id="soloInternet" ng-model="$ctrl.soloInter" class=" filled-in chk-col-amber">
                <span>Solo internet</span>
              </label>
            </div>    
          </div>    
    </div>
    <div class="col-md-8" ng-show="$ctrl.showfilters">

      <form angular-validator-submit="$ctrl.GetReport()" name="contratoForm" novalidate angular-validator>
         <div class="col-md-12" ng-if="$ctrl.Reporte === 'INSTALACIONES' ||
         $ctrl.Reporte === 'CONTRATACIONES' ||
         $ctrl.Reporte === 'CANCELACIONES' ||
         $ctrl.Reporte === 'FUERAAREA' ">
          
            <strong>Atencion !</strong> Selecciona un rango de fechas para el reporte.
      
          <div class="col-md-6">
            <label>
              <i class="md md-today"></i> Fecha Inicial:</label>
           
              <span class="input-group-addon">
                <i class="octicon octicon-calendar"></i>
              </span>
              <input type="date" class="form-control input-sm" placeholder="Fecha de inicio" validate-on="dirty" required required-message="'Este campo es obligatorio.'"
                ng-model="$ctrl.fechainicio">
           
          </div>

          <div class="col-md-6">
            <label>
              <i class="md md-today"></i> Fecha final:</label>
            
              <span class="input-group-addon">
                <i class="octicon octicon-calendar"></i>
              </span>
              <input type="date" class="form-control input-sm" placeholder="Fecha de inicio" validate-on="dirty" required required-message="'Este campo es obligatorio.'"
                ng-model="$ctrl.fechafin" >
          
          </div>
        </div> 

        <div class="col-md-12">
          <br>
          <label>
            <b>Tipo de Reporte</b>
          </label>
          <br>
          <label class="radio-inline radio-styled">
            <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="1">
            <span>Detalle</span>
          </label>
          <label class="radio-inline radio-styled">
            <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="2">
            <span>Resumen</span>
          </label>
        </div>

        <div class="col-md-12">
          <button class="btn btn-warning btn-block" type="submit">
            <i class="fa fa-line-chart" aria-hidden="true"></i> Generar Reporte</button>
        </div>

      </form>
    </div>

    <div class="col-md-8" >
   
      <div class="col-md-12" ng-show="!$ctrl.showfilters">
            <filtros-reporte report="$ctrl.report" order="$ctrl.order" 
            tipserv="$ctrl.ServicioDigitalInternet.Clv_TipSer"
            responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">
                </filtros-reporte>
      </div>
     

    </div>
    
   


  </div>
</div>
