<style type="text/css">
  .custom {
    height: 25px;
    font-size: 10px;
    padding: 0px;
    padding-left: 20px;
  }

</style>

<div class="card animated fadeIn" style="margin-top:20px;">

  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reportes Varios</strong>
      <br />
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
    </header>
    <div class="tools">

    </div>
  </div>

  <div class="card-body">

      <pageslide ps-open="$ctrl.rptpanel" ps-size="1000px" > 
          <iframe src="{{$ctrl.url}}" width="1000px;" height="800px;" ps-zindex="9999"></iframe> 
      </pageslide> 

    <div class="col-md-3">
      <div class="col-md-12">
        <select class="form-control input-sm" id="selectServicioDigitalInternet" ng-model="$ctrl.ServicioDigitalInternet" ng-change="$ctrl.cambiaServicio($ctrl.ServicioDigitalInternet);"
          ng-options="v.Concepto for v in $ctrl.tipoServicios track by v.Clv_TipSer">
        </select>
      </div>

      <div class="col-md-12">
        <strong>Seleccione el reporte: </strong>
        <div class="list-group">
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton1}}" ng-click="$ctrl.getFilters(0)"  >Desconectados </button>
          <!-- ng-click="pdistribuidores = true" || goCats = !goCats" -->
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton2}}" ng-click="$ctrl.getFilters(2)"  >Suspendidos {{myButton2}}</button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton3}}" ng-click="$ctrl.getFilters(3)"  >Al corriente </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton4}}" ng-click="$ctrl.getFilters(4)"  >Adelantados </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton5}}" ng-click="$ctrl.getFilters(5)"  
            ng-hide="$ctrl.principales">Contrataciones principales </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton6}}" ng-click="$ctrl.getFilters(6)"  >Contrataciones </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton7}}" ng-click="$ctrl.getFilters(7)"  >Por pagar </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton8}}" ng-click="$ctrl.getFilters(8)"  >Instalaciones </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton9}}" ng-click="$ctrl.getFilters(9)"  >Cancelaciones </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton10}}" ng-click="$ctrl.getFilters(10)"  >Por instalar </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton11}}" ng-click="$ctrl.getFilters(11)"  >Fuera de area </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton12}}" ng-click="$ctrl.getFilters(12)"  >Paquetes de cortesía</button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton13}}" ng-click="$ctrl.getFilters(13)">Ciudad </button>
          <button type="button" class="custom list-group-item btn-block {{$ctrl.myButton14}}" ng-click="$ctrl.getFilters(14)" >Resumen por colonia y status</button>
        </div>
      </div>
    </div>
    <div class="col-md-5" ng-show="$ctrl.showfilters">

      <form angular-validator-submit="$ctrl.GetReport()" name="contratoForm" novalidate angular-validator>
        <div class="col-md-12">
          <div class="alert alert-info" role="alert">
            <strong>Atencion !</strong> Selecciona un rango de fechas para el reporte.
          </div>

          <div class="col-md-6">
            <label>
              <i class="md md-today"></i> Fecha Inicial:</label>
            <div class="input-group" moment-picker="$ctrl.fechainicio" format="YYYY-MM-DD">
              <span class="input-group-addon">
                <i class="octicon octicon-calendar"></i>
              </span>
              <input class="form-control input-sm" placeholder="Fecha de inicio" validate-on="dirty" required required-message="'Este campo es obligatorio.'"
                ng-model="$ctrl.fechainicio" ng-model-options="{ updateOn: 'blur' }">
            </div>
          </div>

          <div class="col-md-6">
            <label>
              <i class="md md-today"></i> Fecha final:</label>
            <div class="input-group" moment-picker="$ctrl.fechafin" format="YYYY-MM-DD">
              <span class="input-group-addon">
                <i class="octicon octicon-calendar"></i>
              </span>
              <input class="form-control input-sm" placeholder="Fecha de inicio" validate-on="dirty" required required-message="'Este campo es obligatorio.'"
                ng-model="$ctrl.fechafin" ng-model-options="{ updateOn: 'blur' }">
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <br>
          <label>
            <b>Tipo de Reporte</b>
          </label>
          <br>
          <label class="radio-inline radio-styled">
            <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="1">
            <span>Detalle</span>
          </label>
          <label class="radio-inline radio-styled">
            <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="2">
            <span>Resumen</span>
          </label>
        </div>

        <div class="col-md-12">
          <button class="btn btn-warning btn-block" type="submit">
            <i class="fa fa-line-chart" aria-hidden="true"></i> Generar Reporte</button>
        </div>

      </form>
    </div>

    <div class="col-md-5" >
      <div class="col-md-12">
        <div class="col-md-4">
          <strong>Ordenar reporte por: </strong>
        </div>
        <div class="col-md-4">
          <div class="radio radio-styled radio-info">
            <label>
              <input type="radio" ng-model="$ctrl.ordenRadio" value="1">
              <span>Contrato</span>
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="radio radio-styled radio-info">
            <label>
              <input type="radio" ng-model="$ctrl.ordenRadio" value="2">
              <span>Colonia y calle</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <strong>Filtrar por:</strong>
        </div>
        <div class="col-md-8">
          <label class="checkbox-inline checkbox-styled">
            <input type="checkbox" id="soloInternet" ng-model="$ctrl.soloInter" class=" filled-in chk-col-amber">
            <span>Solo internet</span>
          </label>
        </div>




      </div>
      <div class="col-md-12" ng-show="!$ctrl.showfilters">
            <filtros-reporte report="$ctrl.report" order="$ctrl.order" 
            tipserv="$ctrl.ServicioDigitalInternet.Clv_TipSer"
            responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">
                </filtros-reporte>

      </div>
     

    </div>
    
   


  </div>
</div>
